* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    max-width: 900px;
    margin: 40px auto;
}

span {
    color: #9b9ea1;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.container .leftSide {
    flex: 1;
}

.container .rightSide {
    flex: 1;
}